/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Catppuccin Mocha */

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    border: none;
    border-radius: 0;
    min-height: 0;
    /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import "colors.css";

#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background: transparent;
    color: @foreground;
}

#waybar.empty,
#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

/* This section can be use if you want to separate waybar modules */
.modules-left,
.modules-center,
.modules-right {
    background: @main-bg;
    border: 1px solid @outline;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    border-radius: 10px;
}

button {
    border-radius: 16px;
    min-width: 16px;
    padding: 0 10px;
}

button:hover {
    background-color: @hover-bg;
    color: @hover-fg;
}

tooltip {
    border: 2px solid @main-br;
    border-radius: 10px;
    background-color: @main-bg;
}

tooltip>box {
    padding: 0 6px;
}

#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#network,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#wireplumber-2,
#wireplumber-source. #workspaces,
#custom-gpu,
#custom-gpu-temperature,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-notifications,
#custom-playerctl,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-weather {
    padding: 2px 5px;
    color: @text;
}


#bluetooth,
#backlight {
    color: @blue;
}

@keyframes blink {
    to {
        color: @surface0;
    }
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#keyboard-state label.locked {
    color: @mauve;
}

#network {
    color: @teal;
}

#network.disconnected,
#network.disabled {
    background-color: @surface0;
    color: @text;
}

#custom-user:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#wireplumber:hover {
    color: @hover-fg;
}

/* Inactive states */
#idle_inhibitor.deactivated,
#wireplumber.muted {
    color: @hover-fg;
}

#memory.warning,
#cpu.warning,
#battery.warning {
    color: @warning;
}

#temperature.critical,
#memory.critical,
#cpu.critical,
#battery.critical {
    color: @critical;
    background-color: @yellow;
}

#battery.charging {
    color: @charging;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
    border-radius: 10px;
    color: @hover-fg;
    background-color: @hover-bg;
    padding-left: 2px;
    padding-right: 2px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.persistent {
    color: @surface1;
    border-radius: 10px;
}

#workspaces button.active {
    color: @accent;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
    color: @critical;
    border-radius: 0px;
}
